*.pyc
*.py~
*.*~
*.html~
*.DS_Store
MentalSnapp/MentalSnapp/Lib/SMobiLogger/SMobiLogger.xcodeproj/xcuserdata/
MentalSnapp/MentalSnapp/Lib/SMobiLogger/build
MentalSnapp/MentalSnapp.xcodeproj/project.xcworkspace/
MentalSnapp/MentalSnapp.xcodeproj/xcuserdata/
MentalSnapp/MentalSnapp.xcodeproj/project.xcworkspace/xcuserdata/
MentalSnapp/Pods/Pods.xcodeproj/xcuserdata/
MentalSnapp/MentalSnapp.xcodeproj/project.xcworkspace/
MentalSnapp/MentalSnapp.xcodeproj/xcuserdata/
MentalSnapp/MentalSnapp.xcworkspace/xcuserdata/
MentalSnapp/MentalSnapp.xcworkspace/contents.xcworkspacedata
MentalSnapp/MentalSnapp.xcworkspace/xcshareddata/MentalSnapp.xcscmblueprint

## Build generated
build/
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
*.DS_Store

## Obj-C/Swift specific
*.hmap
*.ipa
MentalSnapp/SMobiLogger

