<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NetworkMode</key>
	<string>LIVE</string>
	<key>LocalURL</key>
	<string>192.168.1.38:3000</string>
	<key>ProductionURL</key>
	<string>api.mentalsnapp.com</string>
	<key>StagingURL</key>
	<string>mentalsnapp.systech-soft.com</string>
	<key>URLPathSubstring</key>
	<string>/appspot</string>
	<key>EnableSecureConnection</key>
	<true/>
	<key>EnablePullToRefresh</key>
	<false/>
	<key>EnableBanner</key>
	<false/>
	<key>EnableFlurry</key>
	<false/>
	<key>EnableCoreData</key>
	<false/>
	<key>EnableTwitter</key>
	<false/>
	<key>EnableFacebook</key>
	<false/>
	<key>StagingApteligentKey</key>
	<string>3043af0221024c33a4ddd776acb17f9a00555300</string>
	<key>ProductionApteligentKey</key>
	<string>ce415306dce549ea9aec7b5594521ff300555300</string>
</dict>
</plist>
